<?xml version="1.0"?>
<configuration>

  <location path="Manage.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  
  <location path="AdminPage.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrator"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  
    <location path="AdminRemoveClassOb.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrator"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="AdminAddRejTermSuggest.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrator"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  
  <location path="ClassOb.aspx">
    <system.web>
      <authorization>
        <allow roles="Classifier"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  
  <location path="GLAMClass.aspx">
    <system.web>
      <authorization>
        <allow roles="Classifier"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

</configuration>
